#table{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.card{
  width: 20%;
  height: 360px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;
  justify-content: flex-start;*/
}

.card-segment-top{
  width: 100%;
  height: 90px;
  text-align: left;
  font-size: 20px;
}

.card-segment-middle{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  font-size: 48px;
}


.card-segment-bottom{
  width: 100%;
  height: 90px;
  text-align: right;
  font-size: 20px;
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);*/
  transform:rotateY(180deg);
  transform:rotateX(180deg);
}

.suit-display{
  background-color: red;
  width: 25px;
  height: 25px;
  font-size: 20px;
}
